<html lang="ko">
      <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
            <meta charset="UTF-8">
            <title>Vino Un Poco</title>
      </head>
            <form action="http://101.101.217.75:8000/happy/multiview" method="post">
      {% csrf_token %}




            <input type="checkbox" name="fruit" value="사과">사과
            <input type="checkbox" name="fruit" value="참외">참외
            <input type="checkbox" name="fruit" value="딸기">딸기
      <button class="btn btn-outline-success" type="button" id="fruitajax" onclick="ajax();">보냄</button>


      <script> 
            // 함수 로그인시 입력창 삭제 및 로그인 된 모습 추가, id 와 pw값 받아서 저장하고 토큰복사
                  function ajax(){
                        $.post(
                              "ajax",
                              { id_:$("#id").val() , pw_: $("#pw").val() , csrfmiddlewaretoken: document.getElementsByName("csrfmiddlewaretoken")[0].value },
                              function ( hell ){
                                $("#id").remove()
                                $("#pw").remove()
                                $("#logins").remove()
                                $("#joins").remove()
                                $("#fruitajax").html(hell);
                                // alert(hell)
                              }
                        );
                  }
            </script>
</form>
</html>