
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
            <meta charset="UTF-8">
<!-- {{ parameter1 }}님 비번 {{ parameter2 }}ㅋ -->
<div class="d-flex">
    <div class="row-vh d-flex flex-column"> 
        <div class="item p-1">
            {{ total_member.username }}님
        </div>
        <div class="item">
            <form action="http://101.101.217.75:8000/happy/change" id="psch" method="post">
                {% csrf_token %}
                <button>비밀번호 변경</button>
            </form>
        </div>
        <div class="item">
            <form action="http://101.101.217.75:8000/happy/logout" d="psch1" method="post">
                {% csrf_token %}
                <button>로그아웃</button>
            </form>
        </div>
        <div class="item">
            <form action="http://101.101.217.75:8000/happy/delete" d="psch2" method="post">
                {% csrf_token %}
                <button>회원탈퇴</button>
            </form>
        </div>
    </div>
</div>


