<html lang="ko">
    {% load static %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <title>web editor</title>
    </head>

    <body>
<!--    youtube-->
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/a2AecR7w70k"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<input type="text" id="texts">
<button type="button"></button>
<div id="my"></div>

<iframe srcdoc="<h1>멍멍</h1>"></iframe>
<iframe id="if1" srcdoc="<h2>멍멍</h2>"></iframe>
        <script>
            $(function() {
                $("button").on("click", function() {
                    $("#my").html("<iframe srcdoc='<h3>멍멍</h3>'>몽몽</iframe>");
                    $('#if1').contents().find('html').html($("#texts").val());
                });
            });
        </script>
    </body>
</html>